<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super 4y 엔터이듬</title>
    <link rel="icon" href="./../../assets/icons/favicon.ico" type="image/x-icon" sizes="16x16" />
    <link
      rel="stylesheet preload"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css"
    />
    <link rel="stylesheet" href="./../../css/main.css" />
    <script src="./../../js/main/productInfo.js" type="module"></script>
  </head>

  <body>
    <h1 class="sr-only">엔터이듬</h1>
    <header>
      <h2 class="sr-only">기본 정보</h2>
      <div class="flex justify-between items-center pt-2 px-4">
        <time class="inline-block text-sm font-semibold" datetime="2023-06-25T02:26">2:26</time>
        <ul class="flex justify-start items-start border-0">
          <li class="cellItem">
            <span
              class="inline-block bg-[url('./../../assets/icons/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-95px_-8px] ml-[0.3125rem]"
            ></span>
            <span class="sr-only">수신감도</span>
          </li>
          <li class="cellItem">
            <span
              class="inline-block bg-[url('./../../assets/icons/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-121px_-7px]"
            ></span>
            <span class="sr-only">데이터 종류</span>
          </li>
          <li class="cellItem">
            <span
              class="inline-block bg-[url('./../../assets/icons/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-148px_-8px] ml-[0.3125rem]"
            ></span>
            <span class="sr-only">배터리 잔량</span>
          </li>
        </ul>
      </div>
      <div class="relative flex justify-between items-center gap-x-2 w-full h-10 px-0.5">
        <ul class="headerList flex w-[86px] h-[26px] justify-evenly mt-2">
          <li class="headerItem w-[25px] h-[25px]">
            <a
              class="inline-block bg-[url('./../../assets/icons/main_left.svg')] bg-no-repeat w-5 h-5"
              aria-label="뒤로가기"
              href="#"
              tabindex="0"
            ></a>
          </li>
          <li class="headerItem w-[25px] h-[25px]">
            <a
              class="sprite spriteHome inline-block bg-[url('./../../assets/icons/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-84px_-93px] ml-[-0.625rem]"
              href="./main.html"
              aria-label="홈"
              tabindex="0"
            ></a>
          </li>
        </ul>
        <ul class="headerList flex w-[86px] h-[26px] justify-evenly mt-2">
          <li class="headerItem w-[25px] h-[25px] pl-1.5">
            <a
              class="sprite spriteShare inline-block bg-[url('./../../assets/icons/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-241px_-47px]"
              aria-label="공유"
              href="search.html"
              tabindex="0"
            ></a>
          </li>
          <li class="headerItem w-[25px] h-[25px]">
            <a
              class="sprite spriteMore inline-block bg-[url('./../../assets/icons/sprite.svg')] bg-no-repeat w-5 h-5 bg-[-254px_-255px] mr-3"
              href="/"
              aria-label="더보기"
              tabindex="0"
            ></a>
          </li>
        </ul>
      </div>
    </header>

    <main class="productWrap"></main>
  </body>
</html>
